<h1><%= params[:name].capitalize %></h1>

<dl>
  <dt>Email:</dt>
  <dd><%= @info[:email] %></dd>
</dl>

<dl>
  <dt>Interests:</dt>
  <% @info[:interests].each do |interest| %>
    <dd><%= interest %></dd>
  <% end %>
</dl> 

<% (@users.keys - [params[:name].to_sym]).each do |name| %>
  <a href="/<%= name %>"><%= name.capitalize %></a>
<% end %>

<a href="/">Home</a>